:host {
    font-family: cursive;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 2560px;
}

a,
a:visited{
    color:white;
    font-weight: bold;
}
a:hover {
    color: #1d2cf3;
    text-decoration:double;
    font-weight: bolder;
}

.header{
    display: flex;
    flex-wrap: wrap;
    color:white;
    background: linear-gradient(to bottom, rgb(24, 61, 83), #333333); 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-size: 3em;
    margin-top: 5em;
    width: 51%;
    margin-left: 14em;
    padding: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
}

.container {
    max-width: 100em;
    margin: 0 auto;
    margin-top: 2em;
  }
  
  .form-header {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 50px;
  }

  form {
    background-color: #fff;
    padding: 5em;
    border-radius: 10px;
    border:solid 2px black ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-text{
    font-size: 30px;
    line-height: 80px;
  }

  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }


  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-family: cursive;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 20em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

/* Responsive Styles */
@media screen and (max-width:15in){
  :host {
    font-family: cursive;
    font-size: 7px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1280px;
}

a,
a:visited{
    color:white;
    font-weight: bold;
    font-size: 7px;
}
a:hover {
    color: #1d2cf3;
    text-decoration:double;
    font-weight: bolder;
    font-size: 7px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    color:white;
    background: linear-gradient(to bottom, rgb(24, 61, 83), #333333); 
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    text-align: left;
    font-size: 3em;
    margin-top: 5em;
    width: 53%;
    margin-left: 13.75em;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    justify-content: center;
}

.container {
    max-width: 100em;
    margin: 0 auto;
    margin-top: 2em;
}
  
.form-header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 25px;
}

form {
    background-color: #fff;
    padding: 2.5em;
    border-radius: 5px;
    border:solid 1px black ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.form-text{
    font-size: 15px;
    line-height: 40px;
}

.form-group {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 2.5px;
}
  
input,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 2.5px;
    border: 0.5px solid #ccc;
    font-size: 8px;
}


button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-family: cursive;
    padding: 5px 10px;
    border: none;
    border-radius: 2.5px;
    font-size: 8px;
    width: 10em;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #0069d9;
}
}

@media screen and (max-width: 1250px) {
    :host {
        font-family: cursive;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
    }
    
    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
    
    .header{
        display: flex;
        flex-wrap: wrap;
        color:white;
        background: linear-gradient(to bottom, rgb(24, 61, 83), #333333); 
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: left;
        font-size: 3em;
        margin-top: 5em;
        width: auto;
        margin-left: 0em;
        padding: 1em;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid black;
        justify-content: center;
    }
    
    .container {
        max-width: 100em;
        margin: 0 auto;
        margin-top: 2em;
      }
      
      .form-header {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 50px;
      }
    
      form {
        background-color: #fff;
        padding: 5em;
        border-radius: 10px;
        border:solid 2px black ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      
      .form-text{
        font-size: 30px;
        line-height: 80px;
      }
    
      .form-group {
        margin-bottom: 30px;
      }
      


      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      
}