<h1 *ngIf="user$ | async as user">Welcome {{user.displayName}}!</h1>

<!-- Games Header -->
<div class="gameheader" role="gameheader">
  <div tabindex="1"><span>All Games</span></div>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">
    <div tabindex="2"><a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game1">
      <span>Guess the Animal!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a></div>

    <div tabindex="3"><a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game2">
      <span>Memory Lane!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a></div>

    <div tabindex="4"><a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game3">
      <span>Speedster!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a></div>
  </div>
</div>
  
<!-- Goal Header -->
<div class="header" role="placeholder-header">
  <p>Our Goal</p>
</div>
  
<!-- Goal Body -->
<div class="body" role="placeholder-body">
  <p>Welcome to a Visually Impaired Gaming Application, or VIGA for short! Our goal is to create engaging and accessible flash games for visually impaired children, promoting a fun and entertaining experience for all children, regardless of their abilities. The games will be narrator-based to interact with the gameplay, which will target basic cognitive abilities (reflexes, memory, etc.) and satisfaction.</p>
</div>
  
<!-- About Us Header -->
<div class="header" role="aboutus-header">
    <p>About Us</p>
</div>
  
<!-- About Us Body -->
<div class="body" role="aboutus-body">
    <p>At VIGA, we believe in breaking down barriers and providing equal opportunities for all children. Our team is dedicated to creating accessible and enjoyable gaming experiences for visually impaired children, using innovative technologies and ease-of-use gameplay. Join us on our mission to as we strive to bring fun and joy to every child, regardless of their abilities.</p>

    <div class="contacthead">
      <p>Contact Our Team:</p>
    </div>
    <div class="contactlist">
    <ul>
      <li><a href="mailto:@ashvin.adapa.com">Ashvin Adapa</a></li>
      <li><a href="mailto:baalbakifarid@gmail.com">Farid Baalbaki</a></li>
      <li><a href="mailto:colingoblue734@gmail.com">Colin Mcclevarty</a></li>
      <li><a href="mailto:rajamoussa09@outlook.com">Raja Moussa</a></li>
    </ul>
    </div>
</div>
