:host {
    font-family: cursive;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 2580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 4px 0;
        display: flex;
        color:white;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
        margin-top: 2em;
        max-width: max-content;
        margin-left: 5em;
        padding: 15px;
        background-color:#125699;
        border-radius: 5em;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 50px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill:white;
}

.gameheader{
    top: 100px;
    left: 50px;
    right: 50px;
    height: 60px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    font-size: 4em;
    border-radius: 2em;
    background: linear-gradient(to bottom, #FF8C00, #FFA500);
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    padding-top: 25px;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.guesscard {
    all:unset;
    border-radius: 10px;
    background-image: url("../../../assets/images/Guess\ The\ Animal\ Card.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
    margin: 50px 100px ;
    padding: 16px;
    display: flex;
    transition: all 0.2s ease-in-out;
    align-items:last baseline;
    font-size: 4em;
    font-weight: bolder;
    border: 3px solid black;
    position: relative;
}

.fadeguess {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 81, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 495px;
    height: 50px;
  }

.memorycard {
    all:unset;
    border-radius: 10px;
    background-image: url("../../../assets/images/Memory\ Lane\ Card.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
    margin: 50px 100px;
    padding: 16px;
    display: flex;
    align-items:last baseline;
    transition: all 0.2s ease-in-out;
    font-size: 4em;
    font-weight: bolder;
    border: 3px solid black;
}

.fadememory {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 81, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 495px;
    height: 50px;
  }

.speedcard {
    all:unset;
    border-radius: 10px;
    background-image: url("../../../assets/images/Speedster\ Card.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
    margin: 50px 100px;
    padding: 16px;
    display: flex;
    align-items:last baseline;
    transition: all 0.2s ease-in-out;
    font-size: 4em;
    font-weight: bolder;
    border: 3px solid black;
}

.fadespeed {
    position: absolute;
    left: 78.85%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 81, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 495px;
    height: 50px;
  }

.card-container .card:not(:last-child) {
margin-right: 0;
}

.card-container .card:not(.highlight-card) {
cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

a,
a:visited{
    color:white;
    font-weight: bold;
}
a:hover {
    color: #1d2cf3;
    text-decoration:double;
    font-weight: bolder;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
transform: translateY(-0.25rem);
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    flex-wrap: wrap;
    color:#1d2cf3;
    text-align: left;
    font-size: 3em;
    border-left: 5px solid; 
    border-bottom: 1px solid;
    margin-top: 2em;
    width:25em;
    margin-left: 5em;
    padding-bottom: 25px;
    padding-left: 10px;
    font-weight: bold;
}

.body{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 3em;
    line-height: 2em;
    background-color: wheat;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.contacthead{
    margin-left: 40%;
    font-weight: bold;
    text-decoration: underline;
}

.contactlist{
    margin-left: 40%;
    margin-bottom: 1em;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
.card-container > *:not(.circle-link) ,

.card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
}

.card.highlight-card span {
    margin-left: 72px;
}
}