<!-- Games Header -->
<div class="gameheader">
  <div tabindex="1"><span>All Games</span></div>
</div>

<!-- Game Buttons -->
<div class="content">
  <div class="card-container">
   
      <div tabindex="2"><button class="guesscard" type="button" onclick="location.href='https://viga-fdfc7.firebaseapp.com/game1'">
        <div class="fadecard"><span>Guess the Animal!</span></div>
      </button></div>

    <div tabindex="3"><button class="memorycard" type="button" onclick="location.href='https://viga-fdfc7.firebaseapp.com/game2'">
      <div class="fadecard"><span>Memory Lane!</span></div>
    </button></div>

    <div tabindex="4"><button class="speedcard" type="button" onclick="location.href='https://viga-fdfc7.firebaseapp.com/game3'">
      <div class="fadecard"><span>Speedster!</span></div>
    </button></div>
  </div>
</div>

<div class="button-container">
<div tabindex="5" *ngIf="user$ | async">
  <button class="achievement" type="button" onclick="location.href='https://viga-fdfc7.firebaseapp.com/achievements'" >View Achievements</button>
  <button class="leaderboard" type="button" onclick="location.href='https://viga-fdfc7.firebaseapp.com/leaderboards'" >View Leaderboards</button>
</div>
</div>