:host{
    background-image: url("../../../assets/images/background.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    width: 2560px;
    height: 1180px;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
}


.form-container {
    display: block;
    max-width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 10%;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 30px;
    font-size: 20px;
}

.margin-text {
    margin-top: 15px;
    font-size: 20px;
}


.text-center {
    text-align: center;
}

.sign-up-link {
    font-size: 20px;
    margin-left: 8px;
}