<div class='container'>
  <div class="container mt-5">
    <div class=title-container>
      <app-welcome *ngIf="!quizStarted" (startGameClicked)="startQuiz()" tabindex="0"></app-welcome>
    </div>
    <div class="card" >
      <div *ngIf="!isQuizCompleted && quizStarted">
        <div>
          <h4 style="font-family: cursive; font-size:44px">Guess the Animal!</h4>
          <span style="font-style: italic;font-size:38px">Welcome!</span>

        </div>
      </div>
      <br><br>

      <ng-container *ngIf="!isQuizCompleted && quizStarted">
        <div class="d-flex justify-content-around py-3">
          <div class="score">
            <h5>Level {{points+1}}</h5>
          </div>
          <div class="question-remain">
            <span style="font-style: italic;font-size:30px">Question {{currentQuestion+1}} of {{questionList.length}}</span>
          </div>
        </div>
        <br>
      <button class = "btn btn-primary"style="font-size: 28px"(click) = "playSound()">Play Question </button>
      <br>
      <br>
      <button class = "btn btn-primary"style="font-size: 28px" (click) = "play_Sound()">Play Sound </button>
      <br>
      
      

        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="question">
          <div class="card">
            <h3>{{questionList[currentQuestion]?.questionText}}</h3>
          </div>
        </div>
        <div class="options-container">
          <div class="options">
            <div class="option" *ngFor="let option of questionList[currentQuestion]?.options" tabindex="0"
              (click)="answer(currentQuestion+1,option)" (keydown.enter)="answer(currentQuestion+1,option)">
              <div appChangeBg [isCorrect]="option.correct" class="card">
                <img src={{option.picture}} width="250" height="250">
              </div>
            </div>
          </div>
        </div>
        </ng-container>
       <ng-container *ngIf="isQuizCompleted">
        <div class="row d-flex justify-content-between">
          <img width="400" height="400" class="mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
          <div class="result text-center col-sm-12">
            <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
            <p>Total Question Attempted : {{questionList.length}} </p>
            <p>Total Correct Answered : {{correctAnswer}} </p>
            <p>Total Wrong Answered : {{inCorrectAnswer}} </p>
              <p>Your Score : {{points}} Points </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isQuizCompleted">
        <div class="options">
          <div class="option" *ngFor="let option of questionList[currentQuestion].options; let i=index">
            <p class="option-text">{{option.text}}</p>
            <div class="options">
              <button (click)="playAudio(i)">Play Option {{i+1}} </button>
            </div>
          </div>
        </div>
        </ng-container>
   
 
    