.container{
    margin-top: 10em;
}

.card {
    max-width: 800px;
    margin: 50% left 50% right;
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid blue;
}

ol {
    padding: 0;
}