<!-- Game Title -->
<div class="header" role="placeholder-header">
  <div tabindex="1"><p>Welcome to Speedster!</p></div>
</div>

<!-- Tutorial -->
<div class="body" role="placeholder-body">
  <div tabindex="2"><p>Goal: Random commands will given to you. Press the arrow keys or space bar in time before the command disappears.
    How fast are your hands? 
  </p></div>
</div>

<!-- Play Button -->
<!-- <div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <div tabindex="3"><button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Play</span>
    </button></div>
  </div>
</div> -->

<!-- Game Border -->
<app-gameborder3></app-gameborder3>

<!-- Games Header -->
<div class="gameheader" role="gameheader">
  <div tabindex="4"><span>Other Games You Might Like</span></div>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">
    <div tabindex="5"><a class="guesscard" target="_parent" rel="noopener" href="http://localhost:4200/game1">
      <span>Guess the Animal!</span>
    </a></div>

    <div tabindex="6"><a class="memorycard" target="_parent" rel="noopener" href="http://localhost:4200/game2">
      <span>Memory Lane!</span>
    </a></div>
  </div>
</div>

<router-outlet></router-outlet>