:host {
    font-family: cursive;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 2560px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.gameheader{
    top: 100px;
    left: 50px;
    right: 50px;
    height: 60px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    font-size: 4em;
    border-radius: 2em;
    background: linear-gradient(to bottom, #FF8C00, #FFA500);
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    padding-top: 25px;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: center;
    
}

.guesscard,
.memorycard,
.speedcard {
  all: unset;
  border-radius: 4px;
  height: 100px;
  width: 600px;
  margin: 0 100px 32px;
  padding: 16px;
  display: flex;
  transition: all 0.2s ease-in-out;
  align-items:last baseline;
  font-size: 4em;
  font-weight: bolder;
  border: 3px solid black;
  position: relative;
  cursor: pointer;
  background-size: 100% 100%;
}

.guesscard {
    background-image: url("../../../assets/images/Guess\ The\ Animal\ Card.jpg");
  }
  
  .memorycard {
    background-image: url("../../../assets/images/Memory\ Lane\ Card.jpg");
  }
  
  .speedcard {
    background-image: url("../../../assets/images/Speedster\ Card.jpg");
  }

  .fadecard {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(24, 61, 83, .75);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    width: 600px;
    height: 30px;
    margin-top: 50px;
  }

a,
a:visited{
    color:white;
    font-weight: bold;
}
a:hover {
    color: #1d2cf3;
    text-decoration:double;
    font-weight: bolder;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
transform: translateY(-0.25rem);
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    flex-wrap: wrap;
    color:white;
    background: linear-gradient(to top, #FF8C00, #FFA500);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-size: 3em;
    margin-top: 5em;
    width: fit-content;
    margin-left: 5em;
    padding: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}

.body{
    margin-top: .5em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 3.25em;
    line-height: 2em;
    padding: 5px;
    color: white;
}


/* Responsive Styles */
/* Responsive Styles */
@media screen and (max-width: 1250px) {
    :host {
        font-family: cursive;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
    }
    
    .gameheader{
        color: white;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: center;
        font-size: 2.5em;
        border-radius: 2em;
        background: linear-gradient(to bottom, #FF8C00, #FFA500);
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: .75em;
        font-weight: bold;
        line-height: 40px;
    }

    .header{
        color:white;
        background: linear-gradient(to top, #FF8C00, #FFA500);
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: left;
        font-size: 3em;
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid black;
        width: 75%;
        line-height: 40px;
    }
    
    .body{
        margin-left: 2em;
        margin-right: 2em;
        font-size: 2.5em;
        line-height: 1.5em;
        font-size: 3;
        color: white;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .guesscard {
        all:unset;
        border-radius: 10px;
        background-image: url("../../../assets/images/Guess\ The\ Animal\ Card.jpg");
        background-size: 100% 100%;
        height: 100px;
        width: 600px;
        margin: 50px 100px ;
        padding: 16px;
        display: flex;
        transition: all 0.2s ease-in-out;
        align-items:last baseline;
        font-size: 4em;
        font-weight: bolder;
        border: 3px solid black;
        position: relative;
        cursor: pointer;
    }

    .memorycard {
        all:unset;
        border-radius: 10px;
        background-image: url("../../../assets/images/Memory\ Lane\ Card.jpg");
        background-size: 100% 100%;
        height: 100px;
        width: 600px;
        margin: 50px 100px;
        padding: 16px;
        display: flex;
        align-items:last baseline;
        transition: all 0.2s ease-in-out;
        font-size: 4em;
        font-weight: bolder;
        border: 3px solid black;
        cursor: pointer;
    }
    

    
}