<!-- Game Title -->
<div class="header" role="header">
  <div tabindex="1"><p>Welcome to Guess the Animal!</p></div>
</div>

<!-- Tutorial -->
<div class="body" role="body">
  <div tabindex="2"><p>Instructions: Multiple choice answers will appear with different animal choices. Match each animal sound heard to the correct animal. 
    Use Tab button to navigate and Enter button to select your choice. How many animals can you guess?
  </p></div>
</div>

<!-- Play Button -->
<!-- <div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <div tabindex="3"><button class="card card-small" (click)="selection.value = 'component'" [routerLink]="['./destination, selection.value']" tabindex="0">
      <span>Play</span>
    </button></div>
  </div>
</div> -->

<!-- Game Border -->
<app-gameborder1></app-gameborder1>

<!-- Guess the Animal! -->
 <app-guessanimal></app-guessanimal> 

<!-- All Games Header -->
<div class="gameheader" role="gameheader">
  <div tabindex="4"><span>Other Games You Might Like</span></div>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">

    <div tabindex="6"><a class="memorycard" target="_parent" rel="noopener" href="http://localhost:4200/game2">
      <span>Memory Lane!</span>
    </a></div>

    <div tabindex="7"><a class="speedcard" target="_parent" rel="noopener" href="http://localhost:4200/game3">
      <span>Speedster!</span>
    </a></div>
  </div>
</div>
<router-outlet></router-outlet>
