<!-- Game Title -->
<div class="header" role="header">
  <div tabindex="1"><p>Welcome to Guess the Animal!</p></div>
</div>

<!-- Tutorial -->
<div class="body" role="body">
  <div tabindex="2"><p>Instructions: Match each animal question to the correct animal. Use Tab button to navigate and Enter button to select your choice.
  </p></div>
</div>

<!-- Play Button -->
<!-- <div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <div tabindex="3"><button class="card card-small" (click)="selection.value = 'component'" [routerLink]="['./destination, selection.value']" tabindex="0">
      <span>Play</span>
    </button></div>
  </div>
</div> -->

<!-- Game Border 
<app-gameborder1></app-gameborder1> -->

<!-- Guess the Animal! -->
 <app-welcome></app-welcome>

 <br><br><br><br><br><br>


<!-- All Games Header -->
<div class="gameheader" >
  <div tabindex="4"><span>Other Games You Might Like</span></div>
</div>

<!-- Game Cards -->
<div class="content" >

  <div class="card-container">

    <div tabindex="2"><button class="memorycard" type="button" onclick="location.href='http://localhost:4200/game2'">
      <div class="fadecard"><span>Memory Lane!</span></div>
    </button></div>

    <div tabindex="3"><button class="speedcard" type="button" onclick="location.href='http://localhost:4200/game3'">
      <div class="fadecard"><span>Speedster!</span></div>
    </button></div>
</div>
<router-outlet></router-outlet>
