:host {
    font-family: cursive;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 2580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 4px 0;
        display: flex;
        color:white;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
        margin-top: 2em;
        max-width: max-content;
        margin-left: 5em;
        padding: 15px;
        background-color:#125699;
        border-radius: 5em;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

a,
a:visited{
    color:white;
    font-weight: bold;
}
a:hover {
    color: #1d2cf3;
    text-decoration:double;
    font-weight: bolder;
}

.circle-link:hover {
transform: translateY(-0.25rem);
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    flex-wrap: wrap;
    color:white;
    background: linear-gradient(to top, #FF8C00, #FFA500);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-size: 3em;
    margin-top: 5em;
    width: fit-content;
    margin-left: 5em;
    padding: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    width: 25%;
}

.body{
    margin-top: .5em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 3.25em;
    line-height: 2em;
    padding: 5px;
    color: white;
}


/* Responsive Styles */
@media screen and (max-width: 1250px) {
    :host {
        font-family: cursive;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
    }

    .header{
        color:white;
        background: linear-gradient(to top, #FF8C00, #FFA500);
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: left;
        font-size: 3em;
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid black;
        width: 75%;
        line-height: 40px;
    }
    
    .body{
        margin-left: 2em;
        margin-right: 2em;
        font-size: 2.5em;
        line-height: 1.5em;
        font-size: 3;
        color: white;
    }


}
