<div class="container">
<div class="header">
  <p>Our Goal</p>
</div>
<div class="header">
    <p>About Us</p>
</div>
</div>

<div class="body">
    <p>Welcome to a Visually Impaired Gaming Application, or VIGA for short! Our goal is to create engaging and accessible flash games for visually impaired children, promoting a fun and entertaining experience for all children, regardless of their abilities. The games will be narrator-based to interact with the gameplay, which will target basic cognitive abilities (reflexes, memory, etc.) and satisfaction.</p>
  </div>

<div class="body">
    <p>At VIGA, we believe in breaking down barriers and providing equal opportunities for all children. Our team is dedicated to creating accessible and enjoyable gaming experiences for visually impaired children, using innovative technologies and ease-of-use gameplay. Join us on our mission to as we strive to bring fun and joy to every child, regardless of their abilities.</p>
</div>