<div class="header">
    <div tabindex="1">Leaderboards</div>
  </div>
  
  <div class="container">
  <div class="table-container">
  <table class="achievement-table">
    <tbody>
      <tr>
      <th colspan="2" class="tableheader"> Top User Rankings - Guess the Animal Quiz Scores</th>
      </tr>
      <tr>
        <th class ="thheader">1.</th>
        <td class="tdtext">Placeholder</td>
      </tr>

      <tr>
      <th class ="thheader">2.</th>
      <td class="tdtext">Placeholder</td>
      </tr>


      <tr>
        <th class ="thheader">3.</th>
        <td class="tdtext">Placeholder</td>
      </tr>

      <tr>
        <th class ="thheader">4.</th>
        <td class="tdtext">Placeholder</td>
      </tr>

      <tr>
        <th class ="thheader">5.</th>
        <td class="tdtext">Placeholder</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="table-container">
    <table class="achievement-table">
      <tbody>
        <tr>
        <th colspan="2" class="tableheader"> Top User Rankings - Memory Lane Endless Mode Scores</th>
        </tr>
        <tr>
          <th class ="thheader">1.</th>
          <td class="tdtext">Placeholder</td>
        </tr>
  
        <tr>
        <th class ="thheader">2.</th>
        <td class="tdtext">Placeholder</td>
        </tr>
  
  
        <tr>
          <th class ="thheader">3.</th>
          <td class="tdtext">Placeholder</td>
        </tr>
  
        <tr>
          <th class ="thheader">4.</th>
          <td class="tdtext">Placeholder</td>
        </tr>
  
        <tr>
          <th class ="thheader">5.</th>
          <td class="tdtext">Placeholder</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="table-container">
      <table class="achievement-table">
        <tbody>
          <tr>
          <th colspan="2" class="tableheader"> Top User Rankings - Speedster Endless Mode Scores</th>
          </tr>
          <tr>
            <th class ="thheader">1.</th>
            <td class="tdtext">Placeholder</td>
          </tr>
    
          <tr>
          <th class ="thheader">2.</th>
          <td class="tdtext">Placeholder</td>
          </tr>
    
    
          <tr>
            <th class ="thheader">3.</th>
            <td class="tdtext">Placeholder</td>
          </tr>
    
          <tr>
            <th class ="thheader">4.</th>
            <td class="tdtext">Placeholder</td>
          </tr>
    
          <tr>
            <th class ="thheader">5.</th>
            <td class="tdtext">Placeholder</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>