<div class="header">
    <div tabindex="1">Leaderboards</div>
  </div>
  
  <div class="table-container">
  <table class="achievement-table">
    <tbody>
      <tr>
        <th rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></th>
        <td class="tdtext">Play any game for more than 30 minutes.</td>
      </tr>
      <tr>
        <td>
          <div class="progress-bar"></div>
          <div class="percentage">0%</div>
        </td>
      </tr>
    </tbody>
  
    <tbody>
      <tr>
        <th rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></th>
        <td class="tdtext">Play any game for more than 1 hour.</td>
      </tr>
      <tr>
        <td >
          <div class="progress-bar"></div>
          <div class="percentage">0%</div>
        </td>
      </tr>
    </tbody>
  
    <tbody>
      <tr>
        <th rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></th>
        <td class="tdtext">Guess 20 animals correctly in Guess the Animal.</td>
      </tr>
      <tr>
        <td >
          <div class="progress-bar"></div>
          <div class="percentage">0%</div>
        </td>
      </tr>
    </tbody>
  
    <tbody>
      <tr>
        <th rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></th>
        <td class="tdtext">Reach level 15 on Memory Lane.</td>
      </tr>
      <tr>
        <td>
          <div class="progress-bar"></div>
          <div class="percentage">0%</div>
        </td>
      </tr>
    </tbody>
  
    <tbody>
      <tr>
        <th rowspan="2"><img src="assets/images/trophy.jpg" alt="Locked Trophy" class="trophy-image"></th>
        <td class="tdtext">Reach level 20 on Speedster.</td>
      </tr>
      <tr>
        <td>
          <div class="progress-bar">
            <div class="progress"></div>
            <div class="percentage">100%</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
    