.container{
  height: 1000px;
  width: 1500px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150px;
    margin-top: 90px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
    padding-top: 50px;
}

button {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 9em;
  margin-left: 15.5em;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  background-color: #ffeb3b;
  color: #212121;
  width: 15em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

button:hover {
  transform: scale(1.05);
  background-color: #ddcc34;
}

@media screen and (max-width:15in){
  .container{
  height: 500px;
  width: 750px;
  }
  
  .header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 75px;
  margin-top: 45px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 20px;
  padding-top: 25px;
  }
  
  button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin-top: 10em;
  margin-left: 20em;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
  background-color: #ffeb3b;
  color: #212121;
  width: 7.5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.1s ease-out;
  }
  
  button:hover {
  transform: scale(1.025);
  background-color: #ddcc34;
  }
  }