.header{
  width: 960px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    margin-top: 90px;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
    padding-top: 50px;
}

.start-button {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin-top: 3.25em;
    margin-left: 12em;
  margin-bottom: 4em;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .start-button:hover, .play-again-button:hover {
    background-color: #0062cc;
  }
