
  .container{
    height: 800px;   
    width: 1500px;
  }
  
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150px;
    margin-top: 90px;
    padding: 20px;
    color: #000000;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
    padding-top: 12rem;
    -webkit-text-stroke: 8px #000000;
    -webkit-text-fill-color: #58A06C;
    }
  
  .start-button {
      font-size: 3rem;
      font-weight: bold;
      padding: 2rem 4rem;
      margin-top: 3.25em;
      margin-left: 5em;
      border: none;
      border-radius: 0.5rem;
      background-color: #58A06C;
      color: black;
      cursor: pointer;
      outline: none;
    }

    .end-button {
      font-size: 3rem;
      font-weight: bold;
      padding: 2rem 4rem;
      margin-top: 3.25em;
      margin-left: 5em;
      margin-bottom: 1em;
      margin-right: 3em;
      border: none;
      border-radius: 0.5rem;
      background-color: #58A06C;
      color: black;
      cursor: pointer;
      outline: none;
      align-items: center;
    }
    
    .start-button:hover, .play-again-button:hover, .end-button:hover {
      background-color: #3E704F;
    }
  