.speedster-container .title-container{
  background-image: url("https://cdn.dribbble.com/users/2935848/screenshots/6641649/race-car.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.speedster-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 1500px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  position: relative;
  background-color: #FDEBD0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
  padding: 20px;
  color: rgb(5, 5, 160);
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 40px;
  padding-top: 50px;
}

.game-over-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 1500px;
  margin-top: 5em;
  background-color: #FDEBD0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  background-color: #FDEBD0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  color: #9c27b0;
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.score-label {
  font-size: 5em;
  font-weight: bold;
  margin-right: .25em;
  color: #9c27b0;
}

.score {
  color: #9c27b0;
  font-size: 5em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.command-container {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 100px;
}

.command-icon {
  margin-top: 1em;
  width: 150px;
  height: 125px;
}

.play-again-button{
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-left: 1em;
  margin-bottom: 1rem;
  margin-top: 5em;
  border-radius: 2rem;
  background-color: #ffeb3b;
  color: #212121;
  width: 15em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.return-to-main-menu-button{
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-left: 1em;
  margin-bottom: 1rem;
  margin-top: 1.5em;
  border-radius: 2rem;
  background-color: #ffeb3b;
  color: #212121;
  width: 15em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.play-again-button:hover, .return-to-main-menu-button:hover {
  transform: scale(1.05);
  background-color: #ddcc34;
}

.timer-label {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.timer {
  font-size: 5rem;
  font-weight: bold;
  color: #dc3545;
  margin-top: 1em;
}

.game-over-label {
  margin-top: .5em;
  font-size: 8em;
  color: #f44336;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 1em;
}

.final-score {
  margin-top: .5em;
  font-size: 6em;
  color: #9c27b0;
  text-shadow: 2px 2px 2px #000;
}
