<div class="speedster-container" *ngIf="!gameOver">
  <div class="title-container"><app-sptitle *ngIf="!gameStarted && !displayLevelSelect && !mainMenuVisible" (startGameClicked)="startGame()"></app-sptitle></div>

  <app-spmainmenu *ngIf="!gameStarted && mainMenuVisible" (levelModeClicked)="enterLevelMode()" (endlessModeClicked)="startEndlessMode()"
  (exitGameClicked)="exitGame()" ></app-spmainmenu>
  
    <div *ngIf="displayLevelSelect && !gameStarted">
<app-splevelpage *ngIf="!levelCompleted && displayLevelSelect" (levelSelect)="levelSelected($event)" (returnToMainMenuClicked)="returnToMainMenu()"></app-splevelpage>
  </div>

  <app-splevel *ngIf="!gameStarted && displayLevelSelect" [level]="currentLevel" [levelCompleted]="levelCompleted" (startLevelClicked)="startLevel()" (nextLevelClicked)="nextLevel()" (levelSelectClicked)="levelSelect()" 
  (returnToMainMenuClicked)="returnToMainMenu()"></app-splevel>

  <div class="command-container" *ngIf="gameStarted && !levelCompleted">{{ currentCommand }}</div>

  <div class="score-container" *ngIf="gameStarted && !levelCompleted">
    <div class="score-label">Score:</div>
    <div class="score">{{ score }}</div>
  </div>

  <div class="timer-container" *ngIf="gameStarted && !levelCompleted">
    <div class="timer-label">Time Left:</div>
    <div class="timer">{{ (COMMAND_TIME_LIMIT - timeLeft) / 1000 | number:'1.0-0' }}</div>
  </div>


</div>

<div class="game-over-container" *ngIf="gameOver">
  <div class="game-over-label">Game Over!</div>
  <div class="final-score">Final Score: {{ score }}</div>
  <button class="play-again-button" (click)="playAgain()">Play Again</button>
  <button class="return-to-main-menu-button" (click)="returnToMainMenu()">Return to Main Menu</button>
</div>

