<mat-toolbar>
  <div class="logo-container">
    <a target="_parent" rel="noopener" href="http://localhost:4200/home">
    <img width="130" alt="VIGA Logo" src="assets/images/VIGA Logo.jpg" class="logo"/>
    </a>
  </div>

  <div class="signup" *ngIf="!(authService.currentUser$ | async)">
    <a href="http://localhost:4200/register">
    <p>Don't have an account? Sign up!</p>
    </a>
  </div>

  <div class="login-container">
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu"> 
      <mat-icon>person</mat-icon>
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton class="log-button">
    <button mat-button routerLink="login" class="log-button">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
  </div>

  <mat-menu #userMenu="matMenu">
    <div class="menu-container">
      <div class="welcome" *ngIf="(authService.currentUser$ | async)">
        <ng-container *ngIf="authService.currentUser$ | async as user">
          Welcome {{user.displayName}}!
        </ng-container>
      </div>
      <button class="menu-button" type="button" onclick="location.href='http://localhost:4200/editprofile'">Edit profile</button>
      <button class="menu-button" type="button" onclick="location.href='http://localhost:4200/aboutus'">About us</button> 
      <button class="menu-button" type="button" onclick="location.href='http://localhost:4200/contact'">Contact</button> 
      <button (click)="logout()" class="menu-button">Logout</button>
    </div>
  </mat-menu>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

