<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="logo-container">
      <a target="_parent" rel="noopener" href="http://localhost:4200">
      <img width="70" alt="VIGA Logo" src="assets/images/VIGA Logo.jpg" class="logo"/>
      </a>
    </div>

    <span>Log In</span>
    <a aria-label="Log In" target="_parent" rel="noopener" href="http://localhost:4200/login" title="Log In">
      <svg id="log-in" height="24" width="0" data-name="Log In"></svg>
    </a>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">
    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/home">
      <span>Home</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game1">
      <span>Game 1</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game2">
      <span>Game 2</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game3">
      <span>Game 3</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
</div>

<router-outlet></router-outlet>