<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="logo-container">
      <a target="_parent" rel="noopener" href="http://localhost:4200/home">
      <img width="130" alt="VIGA Logo" src="assets/images/VIGA Logo.jpg" class="logo"/>
      </a>
    </div>

    <span>Log In</span>
    <a aria-label="Log In" target="_parent" rel="noopener" href="http://localhost:4200/login" title="Log In">
      <svg id="log-in" height="24" width="0" data-name="Log In"></svg>
    </a>
</div>

<router-outlet></router-outlet>