:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.spacer {
  flex: 1;
}

mat-toolbar {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #1d2cf3;
  color: white;
  font-weight: 600;
  font-size: 30px;
  height: 200px;
}

.signup{
  margin-left: 15em;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: cursive;
  position: absolute;
}

.login-container{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10em;
  font-weight: bold;
  font-size: larger;
  margin-left: 55em;
  position: absolute;
}

.log-button{
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  }

.menu-container{
  display: flex;
  flex-direction: column;
}

.menu-button {
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  width: 10em;
  padding: 10px;
  border: none;
  background-color: #F8F8FF;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-top: 1px solid black;

}

.menu-button:hover {
  background: linear-gradient(to top, #FF8C00, #FFA500);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: #F8F8FF;
}

.logo-container {
  width: 0%;
  text-align: center;
  justify-content: center;
  margin-left: 2em;
  position: absolute;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 400px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}
a:hover {
  color: red;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header{
  margin: 8pc 0;
}

.body{
  margin: 8px 0;
}

/* Responsive Styles */
@media screen and (max-width: 1250px) {
  .signup {
    margin-left: 9em;
    font-size: 30px;
    position: absolute;
  }
  
  .login-container {
    margin-left: 22em;
    position: absolute;
  }
  
  .logo-container {
    margin-left: 0em;
  }
  
  .logo {
    height: 100px;
    width: 250px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1750px) {
  .signup {
    margin-left: 12em;
    font-size: 40px;
    position: absolute;
  }
  
  .login-container {
    margin-left: 35em;
    position: absolute;
  }
  
  .logo-container {
    margin-left: 2em;
  }
  
  .logo {
    height: 125px;
    width: 300px;
  }
}