<div class="container">
  <div class="header" *ngIf="!levelCompleted && level !== -1">Level {{ level }}</div>
      <div class="congratulations" *ngIf="levelCompleted && level < 10">Congratulations! Level {{ level }} completed.</div>
    <button class="next-level-button" *ngIf="levelCompleted && level < 10" (click)="nextLevel()">Next Level</button>
    <button class="level-select-button" *ngIf="levelCompleted && level < 10" (click)="levelSelect()">Level Select</button>
    <button class="start-level-button" *ngIf="!levelCompleted && level !== -1" (click)="startLevel()">Start Level</button>
    <div class="congratulations" *ngIf="levelCompleted && level == 10">Congratulations! You completed all the levels.</div>
    <button class="return-to-main-menu-button" *ngIf="levelCompleted && level === 10" (click)="returnToMainMenu()">Return to Main Menu</button>
  </div>
  