<!-- Games Header -->
<div class="gameheader" role="gameheader">
  <span>All Games</span>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game1">
      <span>Guess the Animal!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game2">
      <span>Memory Lane!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_parent" rel="noopener" href="http://localhost:4200/game3">
      <span>Speedster!</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
</div>

<!-- Play Button -->
<p>Game 1 Works!</p>
<div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Play</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>