<!-- Game Title -->
<div class="header" role="placeholder-header">
  <div tabindex="1"><p>Welcome to Memory Lane!</p></div>
</div>

<!-- Tutorial -->
<div class="body" role="placeholder-body">
  <div tabindex="2"><p>Goal: Random Commands will stack on each other as you progress. Use the keyboard to input and solve the correct order.
    How much do you remember?
  </p>
  <p>Press the "Play" button to begin!</p></div>
</div>

<!-- Play Button -->
<div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <div tabindex="3"><button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Play</span>
    </button></div>
  </div>
</div>

<!-- Game Border -->
<app-gameborder2></app-gameborder2>

<!-- Games Header -->
<div class="gameheader" role="gameheader">
  <div tabindex="4"><span>All Games</span></div>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">

    <div tabindex="5"><a class="guesscard" target="_parent" rel="noopener" href="http://localhost:4200/game1">
      <span>Guess the Animal!</span>
    </a></div>

    <div tabindex="7"><a class="speedcard" target="_parent" rel="noopener" href="http://localhost:4200/game3">
      <span>Speedster!</span>
    </a></div>
  </div>
</div>

<router-outlet></router-outlet>