<!-- Game Title -->
<div class="header" role="placeholder-header">
  <div tabindex="1"><p>Welcome to Memory Lane!</p></div>
</div>

<!-- Tutorial -->
<div class="body" role="placeholder-body">
  <div tabindex="2"><p>Instructions: Random Commands will stack on each other as you progress. Use the arrow keys to input and solve the correct order of the pattern.
    How much do you remember?
  </p></div>
</div>

<!-- Play Button -->
<!-- <div class="content" role="main"> -->
  <!-- <input type="hidden" #selection>
  <div class="card-container">
    <div tabindex="3"><button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Play</span>
    </button></div>
  </div>
</div> -->

<!-- Game Border -->
<app-gameborder2></app-gameborder2>

<!-- Games Header -->
<div class="gameheader" role="gameheader">
  <div tabindex="4"><span>Other Games You Might Like</span></div>
</div>

<!-- Game Cards -->
<div class="content" role="cards">

  <div class="card-container">

    <div tabindex="2"><button class="guesscard" type="button" onclick="location.href='http://localhost:4200/game1'">
      <div class="fadecard"><span>Guess the Animal!</span></div>
    </button></div>

    <div tabindex="4"><button class="speedcard" type="button" onclick="location.href='http://localhost:4200/game3'">
      <div class="fadecard"><span>Speedster!</span></div>
    </button></div>
  </div>
</div>

<router-outlet></router-outlet>