 <div class="header">
  <div tabindex="1">Achievements</div>
</div>

<div class="table-container">
<table class="achievement-table">
  <tbody>
    <tr>
      <td rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></td>
      <td colspan="2">Get 30 first bloods</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="progress-bar"></div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></td>
      <td colspan="2">Get 30 first bloods</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="progress-bar"></div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></td>
      <td colspan="2">Get 30 first bloods</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="progress-bar"></div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td rowspan="2"><img src="assets/images/lockedtrophy.jpg" alt="Locked Trophy" class="trophy-image"></td>
      <td colspan="2">Get 30 first bloods</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="progress-bar"></div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td rowspan="2"><img src="assets/images/trophy.jpg" alt="Locked Trophy" class="trophy-image"></td>
      <td colspan="2">Get 30 first bloods</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="progress-bar">
          <div class="progress" style="width: 100%;"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
  