<div class="speedster-container" *ngIf="!gameOver && !levelWon">
    <div class=title-container><app-mltitle *ngIf="!gameStarted" (startGameClicked)="startGame()"></app-mltitle></div>
    <div class="command-container" *ngIf="gameStarted && !gameOver && !levelWon"> {{ memory[index] }} </div>
  
    <div class="score-container" *ngIf="gameStarted && !gameOver  && !levelWon">
      <div class="score-label">Score:</div>
      <div class="score">{{ score }}</div>
    </div>

    <div class="timer-container" *ngIf="gameStarted && !gameOver && !levelWon">
      <div class="timer-label">Level:</div>
      <div class="timer">{{level}}</div>
    </div>
  </div>

  <div class="game-over-container" *ngIf="levelWon">
    <div class="game-over-label">Good Job!!</div>
    <div class="final-score">You completed Level {{ level }}</div>
    <button class="play-again-button" (click)="playAgain()">Next Level!</button>
  </div>
  
  <div class="game-over-container" *ngIf="gameOver">
    <div class="game-over-label">Game Over!</div>
    <div class="final-score">Final Score: {{ score }}</div>
    <button class="play-again-button" (click)="playAgain()">Play Again</button>
  </div>